<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCz76e3juWCI-WCbzJktsb87TdYds9Imfo</string>
	<key>GCM_SENDER_ID</key>
	<string>294535764215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.logidepo.loreal</string>
	<key>PROJECT_ID</key>
	<string>pbasket-by-omeks</string>
	<key>STORAGE_BUCKET</key>
	<string>pbasket-by-omeks.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294535764215:ios:4e1da2c1127e4374141bf2</string>
</dict>
</plist>